html,body
{

	margin:auto;
	padding:auto;
    width: 600px;
	

	background-attachment: fixed;
}
#couleurform{
  width: auto;
  padding: 10px;
  margin-top: 20px;
  background: #dddddd;
  border-radius: 10px;
}